<h3>	Fortify On Demand Management</h3>
<div class="main-form container">
	
	<div class="panel panel-warning col-lg-12" style="bg-color:orange;">
		<div class="panel-heading">
			<!--<label>User Name:
				<input type="text" name="userName" ng-change="setCredentialsFoD()" id="userName" ng-model="userName"/>
			</label>
			<label>Teenant ID:
				<input type="text" name="teenatName" ng-change="setCredentialsFoD()" id="teenatName" ng-model="teenatName"/>
			</label>
			<label>User Passwd:
				<input type="password" ng-change="setCredentialsFoD()"  name="userPasswd" id="userPasswd" ng-model="userPasswd" />
			</label>-->
			<label>Token
				<input type="text"  size="80" name="token" id="token" ng-change="setFoDSvcToken()" ng-model="token" />
			</label>
		</div>
		<div  [hidden]="!showFoDError" class="panel-body" >{{fodErrorStr}}</div>
		<div  [hidden]="!(loadingData > 0)" class="panel-body" >Number of open connections: {{loadingData}}</div>
	</div>
	
	<!-- Apps -->
	<div class="col-lg-6" ng-show="appPanelVisible"> 
		
		<form class="form-inline">
			<div class="form-group">
				<label >Search</label><input type="text" ng-model="search" class="form-control" placeholder="Search">
				#Items {{userAppLoadedCount}} /{{ userAppCount}}
			</div>
		</form>
		
		<!--<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th ng-click="sort('applicationId')">Id
						<span class="glyphicon sort-icon" ng-show="sortKey=='applicationId'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
					</th>
					<th ng-click="sort('applicationName')">Name
						<span class="glyphicon sort-icon" ng-show="sortKey=='applicationName'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
					</th>
					<th ng-click="sort('attributes[1].value')">Petitioner
						<span class="glyphicon sort-icon" ng-show="sortKey=='applicationName'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
					</th>
					<th ng-click="sort('applicationCreatedDate')">Created Date
						<span class="glyphicon sort-icon" ng-show="sortKey=='applicationCreatedDate'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr dir-paginate="app in userAppList|orderBy:sortKey:reverse|filter:search|itemsPerPage:10" pagination-id="app" ng-click="setAppSelected(app.applicationId)">
					<td>{{app.applicationId}}</td>
					<td>{{app.applicationName}}</td>
					<td>{{app.attributes[1].value}}</td> 
					<td>{{app.applicationCreatedDate}}</td>
				</tr>
			</tbody>
		</table>
		<dir-pagination-controls   max-size="10"   direction-links="true"   boundary-links="true"  pagination-id="app">
		</dir-pagination-controls>-->
	</div>
	
  <!-- Releasses -->
  <!--
	<div class="col-lg-6 verticalLine" ng-show="relPanelVisible">               
 
				
		<form class="form-inline">
			<div class="form-group">
				<label >Search</label><input type="text" ng-model="search2" class="form-control" placeholder="Search">
				#Items {{appRelList.length}} /{{ appRelCount}}
			</div>
		</form>
		
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th ng-click="sort('releaseId')">Release Id
						<span class="glyphicon sort-icon" ng-show="sortKey=='releaseId'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
					</th>
					<th ng-click="sort('releaseName')">Release Name
						<span class="glyphicon sort-icon" ng-show="sortKey=='releaseName'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
					</th>
					<th ng-click="sort('currentAnalysisStatusType')">Analysis Status
						<span class="glyphicon sort-icon" ng-show="sortKey=='currentAnalysisStatusType'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
					</th>
					<th ng-click="sort('applicationCreatedDate')">App.Created Date
						<span class="glyphicon sort-icon" ng-show="sortKey=='applicationCreatedDate'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
					</th>
					
					<th ng-click="sort('rating')">Rating
						<span class="glyphicon sort-icon" ng-show="sortKey=='rating'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
					</th>
					<th ng-click="sort('critical')">#Critical
						<span class="glyphicon sort-icon" ng-show="sortKey=='critical'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
					</th>
					<th ng-click="sort('high')">#High
						<span class="glyphicon sort-icon" ng-show="sortKey=='high'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
					</th>
					<th ng-click="sort('medium')">#Medium
						<span class="glyphicon sort-icon" ng-show="sortKey=='medium'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
					</th>
					<th ng-click="sort('low')">#Low
						<span class="glyphicon sort-icon" ng-show="sortKey=='low'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
					</th>
					
				</tr>
			</thead>
			
     
    
			<tbody>
				<tr dir-paginate="rel in appRelList|orderBy:sortKey:reverse|filter:search2|itemsPerPage:15" pagination-id="rel" ng-click="setRelSelected(rel.releaseId, $index )" ng-class='{selected: $index==selectedRow}'>
					<td>{{rel.releaseId}}</td>
					<td>{{rel.releaseName}}</td>
					<td>{{rel.currentAnalysisStatusType}}</td> 
					<td>{{rel.applicationCreatedDate}}</td>
					<td>{{rel.rating}}</td>
					<td>{{rel.critical}}</td>
					<td>{{rel.high}}</td>
					<td>{{rel.medium}}</td>
					<td>{{rel.low}}</td>
				</tr>
			</tbody>
		</table>
		<dir-pagination-controls   max-size="15"   direction-links="true"   boundary-links="true" pagination-id="rel" >
		</dir-pagination-controls>
  </div>
  -->

  <!-- Vulnerabilities -->
  <!--
	<div class="col-lg-12 topLine" ng-show="vulPanelVisible">           

		<table style="border-collapse: collapse; border: 4px solid white;">
			<tr><td>High</td><td>Critical</td><tr>
			<tr><td>Low</td><td>Medium</td><tr>
		</table>
		<br>	
				
		<form class="form-inline">
			<div class="form-group">
				<label >Search</label><input type="text" ng-model="search3" class="form-control" placeholder="Search">
				#Items {{relVulList.length}} /{{ relVulListCount}}
			</div>
		</form>
		
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th ng-click="sort('id')">Id
						<span class="glyphicon sort-icon" ng-show="sortKey=='id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
					</th>
					<th ng-click="sort('severityString')">Severity
						<span class="glyphicon sort-icon" ng-show="sortKey=='severityString'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
					</th>
					<th ng-click="sort('category')">Category
						<span class="glyphicon sort-icon" ng-show="sortKey=='category'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
					</th>
					<th ng-click="sort('cwe')">CWE
						<span class="glyphicon sort-icon" ng-show="sortKey=='cwe'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
					</th>
					<th ng-click="sort('owasp2004')">Owasp 2004
						<span class="glyphicon sort-icon" ng-show="sortKey=='owasp2004'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
					</th>
					<th ng-click="sort('owasp2007')">Owasp 2007
						<span class="glyphicon sort-icon" ng-show="sortKey=='owasp2007'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
					</th>
					<th ng-click="sort('owasp2010')">Owasp 2010
						<span class="glyphicon sort-icon" ng-show="sortKey=='id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
					</th>
					<th ng-click="sort('owasp2013')">Owasp 2013
						<span class="glyphicon sort-icon" ng-show="sortKey=='owasp2013'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
					</th>
					
					<th ng-click="sort('pci1_1')">PCI 1.1
						<span class="glyphicon sort-icon" ng-show="sortKey=='pci1_1'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
					</th>
					<th ng-click="sort('pci1_1')">PCI 1.2
						<span class="glyphicon sort-icon" ng-show="sortKey=='pci1_1'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
					</th>
					<th ng-click="sort('pci2')">PCI 2
						<span class="glyphicon sort-icon" ng-show="sortKey=='pci2'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
					</th>
					<th ng-click="sort('pci3')">PCI 3
						<span class="glyphicon sort-icon" ng-show="sortKey=='pci3'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
					</th>
					
					
					<th ng-click="sort('scanCompletedDate')">Completed Date
						<span class="glyphicon sort-icon" ng-show="sortKey=='scanCompletedDate'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
					</th>
					<th ng-click="sort('status')">Status
						<span class="glyphicon sort-icon" ng-show="sortKey=='status'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
					</th>
				</tr>
			</thead>

			<tbody>
				<tr dir-paginate="vul in relVulList|orderBy:sortKey:reverse|filter:search3|itemsPerPage:15" pagination-id="vul">
					<td>{{vul.id}}</td>	
					<td>{{vul.severityString}}</td>
					<td>{{vul.category}}</td>
					<td>{{vul.cwe}}</td>
					<td>{{vul.owasp2004}}</td>
					<td>{{vul.owasp2007}}</td>
					<td>{{vul.owasp2010}}</td>
					<td>{{vul.owasp2013}}</td>
					
					<td>{{vul.pci1_1}}</td>
					<td>{{vul.pci1_2}}</td>
					<td>{{vul.pci2}}</td>
					<td>{{vul.pci3}}</td>
					
					<td>{{vul.scanCompletedDate}}</td>
					<td>{{vul.status}}</td>					
				</tr>
			</tbody>
		</table>
		<dir-pagination-controls   max-size="15"   direction-links="true"   boundary-links="true" pagination-id="vul">
		</dir-pagination-controls>
	</div>-->
	
	
	
</div>
