/* HeroDetailComponent's private CSS styles */

.example-card {
  max-width: 400px;
}

/* .example-header-image { */
/*   background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg'); */
/*   background-size: cover; */
/* } */


button {
	margin-top: 20px;
	font-family: Arial;
	background-color: #eee;
	border: none;
	padding: 5px 10px;
	border-radius: 4px;
	cursor: pointer;
	cursor: hand;
}

button:hover {
	background-color: #cfd8dc;
}

button:disabled {
	background-color: #eee;
	color: #ccc;
	cursor: auto;
}