<!-- @aaa sin usar router, se indican los componentes a cargar 
<div style="text-align:left">
  <h1>{{ title }}</h1>
  <app-applications></app-applications>
  <app-messages></app-messages>
</div> -->

<mat-toolbar color="accent"  class="app-toolbar">
  <mat-toolbar-row>
	<span>{{title}}&nbsp;&nbsp;<h3 *ngIf="currentUser">{{currentUser.firstName}}&nbsp;{{currentUser.lastName}}</h3></span>
	<span class="example-spacer"></span>
<!-- 	<mat-icon class="example-icon" aria-hidden="true">verified_user</mat-icon> -->
	<mat-icon class="example-icon" aria-hidden="true" routerLink="/admu">face</mat-icon>
	<mat-icon class="example-icon" aria-hidden="true" routerLink="/login">power_settings_new</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>

 
<nav>
	<mat-chip-list>
	    <mat-chip color="accent" selected="true" routerLink="/dashboard">Dashboard</mat-chip>
		<mat-chip color="accent" selected="false" routerLink="/applications">Applications</mat-chip>
		<mat-chip color="accent" selected="false" routerLink="/srequest">Request</mat-chip>
	</mat-chip-list>
</nav>



<!-- <div class="jumbotron"> -->
<!--     <div class="container"> -->
<!--         <div class="col-sm-8 col-sm-offset-2"> -->
<!--             <alert></alert> -->
<!--             <router-outlet></router-outlet> -->
<!--         </div> -->
<!--     </div> -->
<!-- </div> -->


<alert></alert>
<router-outlet></router-outlet>
<app-messages></app-messages>
