<mat-toolbar color="accent"  class="app-toolbar">
  <mat-toolbar-row>
	<span>{{title}}&nbsp;&nbsp;<h5 *ngIf="currentUser">{{currentUser.firstName}}&nbsp;{{currentUser.lastName}}</h5></span>
	<span class="example-spacer"></span>
<!-- 	<mat-icon *ngIf="!currentUser" class="example-icon" aria-hidden="true" routerLink="/register" >verified_user</mat-icon> -->
	<mat-icon *ngIf="currentUser" class="example-icon" aria-hidden="true" routerLink="/admu">face</mat-icon>
	<mat-icon *ngIf="currentUser" class="example-icon" aria-hidden="true" (click)="logout()">power_settings_new</mat-icon>
  </mat-toolbar-row>
  <mat-toolbar-row style="background: white;">
	  <mat-chip-list>
		    <mat-chip color="accent" selected="false" routerLink="/dashboard">Dashboard</mat-chip>
		    <mat-chip color="accent" selected="false" routerLink="/srequest">Request</mat-chip>
				<mat-chip color="accent" selected="false" routerLink="/kiuwan">Kiuwan</mat-chip>
				<mat-chip color="accent" selected="false" routerLink="/kiuwandata">Kiuwan Dashboard</mat-chip>
				<mat-chip color="accent" selected="false" routerLink="/fod">Fortify Dashboard</mat-chip>
		</mat-chip-list>
	  </mat-toolbar-row>
</mat-toolbar>


<alert></alert>
<router-outlet></router-outlet>
<div>
	<app-messages></app-messages>
</div>