<router-outlet></router-outlet>
<div [hidden]="route.children.length > 0">
  <h4>SAST Light Applications List</h4>
  <mat-card *ngIf="!dataLoaded">
    <mat-card-content>
      <h2 class="example-h2">{{loadingText}}</h2>

      <mat-progress-spinner
          class="example-margin"
          [color]="color"
          [mode]="mode"
          [value]="value">
      </mat-progress-spinner>
    </mat-card-content>
  </mat-card>
  <h5>S-SLDC Applications:</h5>
  <kiuwan-applications-table></kiuwan-applications-table>
  <h5>POC Applications:</h5>
  <kiuwan-applications-table></kiuwan-applications-table>
</div>
